# Rust
/target
finalOutput
ignore

# VsCode
.vscode

# npm / js
node_modules
dist
bindings
web/api_bindings.ts

# Server
server

# Local build / packaging artifacts
/run-test
/package-out
*.zip

/.idea
